<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My PortFolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <div class="blurr1"></div>
    <div class="navbar">
        <img src="logo.png" alt="logo" class="logo">

    <nav >
         <a href="/"class="navy">Home</a>
        <a href="/project"class="navy">Project</a>
        <a href="#"class="navy">Resume</a>
    </nav>
</div>




    <div="whole">
    <div class="paralax">
        <div class="paralax-item p-item1"></div>
        <div class="paralax-item p-item2">
            <div class="div-solver"></div> 
            <main class="container2">
                <p>Hello👋 I'm</p>
                <br/>
                <section class="animation">
                  <div class="first"><div><p>HARSH RANJAN</p></div></div>
                  <div class="second"><div><p>Web Developer</p></div></div>
                  <div class="third"><div><p>Designer</p></div></div>
                </section>
              </main>
        </div>
        <div class="paralax-item p-item3"></div>
        <div class="paralax-item p-item4"></div>
</div>
<div class="new">





   



    <div class="container">
        <div class="content-header">
            <h1 class="skillhead">About Me</h1>
            <h2>Bugs are best friend thou teaches lot</h2>

            <div class="card">
                
                <div class="card-text">
                  <div class="portada">
                  
                  </div>
                  <div class="title-total">   
                    <div class="title">Harsh Ranjan</div>
                    <h2>Web Developer</h2>
                
                <div class="desc">Hey there! I'm Harsh Ranjan, a B.Tech undergraduate student based in Kolkata with a passion for front-end web development and competitive programming. I'm a self-taught developer who combines an artistic vision with technical expertise to design and code engaging, user-friendly websites. My development style involves using Figma for design and React as the primary front-end framework, and my tech stack includes MERN (MongoDB, Express.js, React, Node.js), MySQL, and C++. Curious to learn more about me? Scroll down and dive into my world of code and creativity!</div>
                <div class="actions">
                
                 <a href="mailto:shriharshranjangupta@gmail.com" class="socials"><img src="/img/gmail.png" alt="hi"></a>

                 <a href="https://www.linkedin.com/in/harshrjn" class="socials"><img src="/img/linkedin.png" alt="hi"></a>

                 <a href="https://www.instagram.com/_harsh_rjn/" class="socials"><img src="/img/insta.png" alt="hi"></a>

                 <a href="https://github.com/Harsh-git98" class="socials"><img src="/img/github.png" alt="hi"></a>

                 <a href="https://www.codechef.com/users/harsh_rjn" class="socials"><img src="/img/codechef.png" alt="hi"></a>

                 <a href="https://leetcode.com/shriharshranjangupta/" class="socials"><img src="/img/leetcode.png" alt="hi"></a>
                 
                </div></div>
               
                </div>
                
               
                
              </div>
              

              <div class="timeline">
                <h1 class="skillhead">Journey Up to</h1>
                <div></div>
                <div class="outer">
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">MERN DEVELPOER</h3>
                      <p>Started in MY second Year of My college </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">CP Enthusiasts</h3>
                      <p>Started Cp since First Year in college and gives overall 30+ contest </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">Graduating</h3>
                      <p>I am pursuing Btech in department of information Technology, From Indian institute of ENgineering Scienc3e and Technology, Shibpur </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">Higher Secondary</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">Secondary</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                </div>
            </div>



            <div id="skills">
                <h1 class="skillhead">MY SKILLS</h1>
               
                <div class="skills-grid">
                    <div><img src="/img/html-5.png" alt="HTML5">
                      </div>

                      <div><img src="/img/css-3 (1).png" alt="HTML5">
                      </div>

                      <div><img src="/img/js (2).png" alt="HTML5">
                      </div>

                      <div><img src="/img/c-.png" alt="HTML5">
                      </div>

                      <div><img src="/img/letter-c.png" alt="HTML5">
                      </div>

                      <div><img src="/img/database (1).png" alt="HTML5">
                      </div>

                      <div><img src="/img/nodejs (1).png" alt="HTML5">
                      </div>

                      <div><img src="/img/nuclear.png" alt="HTML5">
                      </div>

                      <div><img src="/img/mongodb.png" alt="HTML5">
                      </div>

                      <div><img src="/img/ex.png" alt="HTML5">
                      </div>
                     

                      


                    
                   
                </div>
                <p>More Loading...</p>



                <h1 class="skillhead">MY PROJECTS</h1>
                <div class="project">
                    <form action="/project">
                        <button type="submit" class="see-project">All Projects</button>
                    </form>
                    <iframe src="/game" class="game"></iframe>

                   
                    

                </div>



                <div class="message">

                    

                <div class="container11">
  
    <div class="brand-title">GET IN TOUCH</div>
    <form action="/" method="POST">
    <div class="inputs">
      <label></label>
      <input type="text" name="name" id="name"placeholder="What can I call YOU?" />
      <label></label>

      <input type="email" name="email" id="email" placeholder="Where can I mail You?" />

      <label></label>
      <textarea class="special" name="message" id="message" placeholder="Say Hello to ME" maxength="300"></textarea>


      <button type="submit">Submit</button>
    </form>
    </div>
   
                </div>
                   
                </div>
                


            </div>
        
    
            
        </div>
    
        <div class="footer-basic">
            <footer>
                <div class="social">
                    <a href="mailto:shriharshranjangupta@gmail.com" class="socials"><img src="/img/gmail.png" alt="hi"></a>

                 <a href="https://www.linkedin.com/in/harshrjn" class="socials"><img src="/img/linkedin.png" alt="hi"></a>

                 <a href="https://www.instagram.com/_harsh_rjn/" class="socials"><img src="/img/insta.png" alt="hi"></a>
                    <a href="/" ></a>

                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Project</a></li>
                    <li class="list-inline-item"><a href="#">Resume</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <div class="sun"></div>
                <p class="copyright">HARSH RANJAN © 2024</p>
                
            </footer>
        </div>
        </div>
   






      
        
  
   
</div>
</div>

    <script src="/js/paralax.js"></script>
</body>
</html>
