<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My PortFolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="blurr1"></div>
    <div class="navbar">
        <img src="logo.png" alt="logo" class="logo">

    <nav >
         <a href="#"class="navy">Home</a>
        <a href="#"class="navy">About</a>
        <a href="#"class="navy">Resume</a>
    </nav>
</div>




    <div="whole">
    <div class="paralax">
        <div class="paralax-item p-item1"></div>
        <div class="paralax-item p-item2">
            <div class="div-solver"></div> 
            <main class="container2">
                <p>Hello👋 I'm</p>
                <br/>
                <section class="animation">
                  <div class="first"><div><p>HARSH RANJAN</p></div></div>
                  <div class="second"><div><p>Web Developer</p></div></div>
                  <div class="third"><div><p>Designer</p></div></div>
                </section>
              </main>
        </div>
        <div class="paralax-item p-item3"></div>
        <div class="paralax-item p-item4"></div>
</div>
<div class="new">





   



    <div class="container">
        <div class="content-header">
            <h1>About Me</h1>
            <h2>Bugs are best friend thou teaches lot</h2>

            <div class="card">
                
                <div class="card-text">
                  <div class="portada">
                  
                  </div>
                  <div class="title-total">   
                    <div class="title">Harsh Ranjan</div>
                    <h2>Web Developer</h2>
                
                <div class="desc">Hey there! I'm Harsh Ranjan, a B.Tech undergraduate student based in Kolkata with a passion for front-end web development and competitive programming. I'm a self-taught developer who combines an artistic vision with technical expertise to design and code engaging, user-friendly websites. My development style involves using Figma for design and React as the primary front-end framework, and my tech stack includes MERN (MongoDB, Express.js, React, Node.js), MySQL, and C++. As a competitive programming enthusiast, I regularly participate in contests on popular platforms to enhance my problem-solving skills. Curious to learn more about me? Scroll down and dive into my world of code and creativity!</div>
                <div class="actions">
                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>

                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>

                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>

                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>

                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>

                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>

                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>

                 <a href="" class="socials"><img src="profile.png" alt="hi"></a>
                </div></div>
               
                </div>
                
               
                
              </div>
              

              <div class="timeline">
                <h1>Journey Up to</h1>
                <div></div>
                <div class="outer">
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">MERN DEVELPOER</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">Title 2</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">Title 3</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">Title 4</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                  <div class="card2">
                    <div class="info">
                      <h3 class="title1">Title 5</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </div>
                </div>
            </div>



            <div id="skills">
                <h1 class="skillhead">MY SKILLS</h1>
                <p>Always on the way of More</p>
                <div class="skills-grid">
                    <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      <div><img src="profile.png" alt="HTML5">
                      </div>

                      


                    
                   
                </div>
                <h1 class="skillhead">MY PROJECTS</h1>
                <div class="project">
                    <a href="project.html" class="login" title="Login"></a>

                </div>



                <div class="message">

                    

                <div class="container11">
  
    <div class="brand-title">Contact ME</div>
    <form action="/" method="POST">
    <div class="inputs">
      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" />
      <label>PASSWORD</label>

      <input type="password" placeholder="Min 6 charaters long" />

      <label>Message</label>
      <textarea class="special" placeholder="Min 6 characters long" minlength="300"></textarea>


      <button type="submit">LOGIN</button>
    </form>
    </div>
   
                </div>
                   
                </div>
                


            </div>
        
    
            
        </div>
    
        <div class="footer-basic">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Services</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">Company Name © 2018</p>
            </footer>
        </div>
        </div>
   






      
        
  
   
</div>
</div>

    <script src="paralax.js"></script>
</body>
</html>
