@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.card {
  background: #192953;
  border-radius: 4px;
  margin: 5vw auto;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 90vw;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
  position: relative;

}
.card h2 {
  margin: 0;
  padding: 0 1rem;
  color:gold ;
  font-size: 100%;
}
.card .title {
  padding: 1rem;
  text-align: center;
  color: rgb(79, 139, 196);
  font-weight: bold;
  font-size: 200%;
}
.card .desc {
  padding-top: 1vh;
  min-height: 40%;
  font-size:100%;
  text-wrap:stable;
  color: #8ae6f7;
}
.card .action {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 10vh;
  margin: 0;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.socials img {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin:5px;
 

}
.socials img:hover{
  transform: scale(1.5);
  
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

.title-total {
  height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  padding: 2.5vh 1.5vh 1.5vh 1.5vh;
}

path {
  fill: white;
}



.portada {
  width: 80%;
  margin:auto;
  height: 80%;
  border-radius: 30px;
  background-image: url("profile.png");
  background-size: contain;
  background-position:center;
  background-size:cover;
}


@media  (max-width:500px) {

  .card-text{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
   
  }
  .portada{
    min-height: 30vh;
  }
  
  .title-total{
    height: 100%;
  }
  
}





.timeline {
    margin: 1vw auto;
   
  }
.outer{
  height: 100%;
}
/* card2 container */
.card2 {
    position: relative;
    max-width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Adjusting width with respect to viewport width */
  }
  
  /* setting padding based on even or odd */
  .card2:nth-child(odd) {
    padding: 3vh 0 3vh 3vw; /* Adjusting padding with respect to viewport */
  }
  .card2:nth-child(even) {
    padding: 3vh 3vw 3vh 0; /* Adjusting padding with respect to viewport */
  }
  
  /* Global ::before */
  .card2::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid rgb(19, 191, 221);
  }
  
  /* Setting the border of top, bottom, left */
  .card2:nth-child(odd)::before {
    left: 0;
    top: -0.5vh;
    bottom: -0.5vh;
    border-width: 0.5vh 0 0.5vh 0.5vw; /* Adjusting border widths */
    border-radius: 5vh 0 0 5vh; /* Adjusting border radius */
  }
  
  /* Setting the top and bottom to "-0.5vh" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card2:nth-child(odd)::before {
      top: -0.5vh;
      bottom: -0.5vh;
    }
    





  }


  /* Setting the border of top, bottom, right */
  .card2:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 0.5vh 0.5vw 0.5vh 0; /* Adjusting border widths */
    border-radius: 0 5vh 5vh 0; /* Adjusting border radius */
  }
  
  /* Removing the border if it is the first card2 */
  .card2:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card2 and it's odd */
  .card2:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card2 and it's even */
  .card2:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #192953;
    color: rgb(154, 183, 226);
    border-radius: 1vh; /* Adjusting border radius */
    padding: 1vh 1vw; /* Adjusting padding */
  }
  
  /* Title of the card2 */
  .title1 {
    color: rgb(54, 154, 221);
    position: relative;
  }
  
  /* Timeline dot */
 
  /* text right if the card2 is even */
  .card2:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card2 is odd */
  .card2:nth-child(odd) > .info > .title::before {
    left: -4.5vw; /* Adjusting position with respect to viewport */
  }
  
  /* setting dot to the right if the card2 is even */
  .card2:nth-child(even) > .info > .title::before {
    right: -4.5vw; /* Adjusting position with respect to viewport */
  }
  

/* skill section*/



#skills {
    text-align: center;
}



#skills p {
    font-size: 1em;
    margin: 0.5em 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3vw;
    justify-items:center;
    align-items: center;
    margin-top: 1em;
}

.skills-grid img {
    border: 0px solid black;
    border-radius: 100vh;
    width: 100%;
    height: 100%;
}
.skills-grid img:hover {
    transform: scale(1.1);
}




.skills-grid img {
    transform: rotateZ(360deg);
    animation: flip 5s both infinite;
}

@keyframes flip {
    0% {
        transform: rotateY(0);
    }
    25% {
        transform: rotateY(70deg);
    }
    50%{
      transform: rotateY(0);
    }
    75%{
      transform: rotateY(250deg);
    }
    100%{
      transform: rotateY(0);;
    }
}
@media only screen and (max-width: 800px)
{
  
.portada {
  width: 100%;
  height: 50%;
  border-radius: 30px;
  background-image: url("profile.png");
  background-size: contain;
  background-position:center;
  background-size:cover;
}


.card .desc {
  padding-top: 1vh;
  min-height: 35%;
  font-size:50%;
  text-wrap:stable;
  color: #8ae6f7;
}
}
.container{
  width:100vw;
}
.project{
  height: 80vh;
  display: block;
}
